
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> [endif] -->
<!--[if !(IE)]>
<!-->
<html lang="en" class="no-js" >
<!--<![endif]-->

<head>
    <title>SPORTS - 运动社交平台</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/preloader.css">
    <link href="../css/search.css" rel="stylesheet" type="text/css">
    <link href="../css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <link href="../css/style-switcher.css" rel="stylesheet" type="text/css">
    <link href="../css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../js/king-common.js"></script>
        <script src="../js/echarts.common.min.js"></script>

</head>

<body>

<!-- WRAPPER -->
<div class="wrapper">
    <!-- TOP BAR -->
    <div class="top-bar" >
        <div class="container">
            <div class="row">
                <!-- logo -->
                <div class="col-md-2 logo"  >
                    <a class="logo"; href="../commentPage/commentPage.html" style="color:#fff;">Your SPORTS manager</a>
                </div>
                <!-- end logo -->

                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- search box -->
                            <div id="tour-searchbox" class="input-group searchbox" ng-app="mySearchApp" ng-controller="searchCtrl">
                                <input type="search" id="search" class="form-control" placeholder="enter SPORTSName/SPORTSID here..." class="search-input" value=""/>
                                <ul id="results" class="search-results"></ul>
                                <span class="input-group-btn" >
										<button class="btn btn-default" type="button" value="to SingleSPORTSPage" onclick="toSingleSPORTSPage()" ><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                            <!-- end search box -->
                        </div>
                        <div class="col-md-9">
                            <div class="top-bar-right">
                                <!-- responsive menu bar icon -->
                                <a href="#" class="hidden-md hidden-lg main-nav-toggle"><i class="fa fa-bars"></i></a>
                                <div class="logged-user">
                                    <div class="btn-group">
                                        <a href="../welcome.html" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                            <i id="icon" class="fa fa-user"></i>
                                            <span class="name" id="name"  >返回首页</span> <span id="tar"  class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" role="menu" id="down">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-power-off"></i>
                                                    <span class="text" id="logout"  onclick=javascript:Logout();>Logout</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end logged user and the menu -->

                            </div>
                            <!-- /top-bar-right -->
                        </div>
                    </div>
                    <!-- /row -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top -->

    <!-- BOTTOM: LEFT NAV AND RIGHT MAIN CONTENT -->
    <div class="bottom">
        <div class="container" >
            <div class="row" >
                <!-- left sidebar -->
                <div class="col-md-2 left-sidebar" >
                    <!-- main-homePage -->
                    <nav class="main-nav" >
                        <ul class="main-menu" >
                            <!--main active-->
                            <!--             <li><a href="../commentPage/commentPage.html"><i class="fa fa-home fa-fw"></i><span class="text">首页</span></a></li>
                                        <!--my favor-->
                            <li class="active"><a href="../commentPage/commentPage.html"><i class="fa fa-star fa-fw"></i><span class="text">动态</span></a></li>
                            <li><a href="#" class="js-sub-menu-toggle"><i class="fa fa-list-ul fa-fw"></i><span class="text">个人信息</span>
                                <i class="toggle-icon fa fa-angle-left"></i></a>
                                <ul class="sub-menu ">
                                    <li><a href="../self/basic.html"><span class="text">个人基本信息</span></a></li>
                                    <li><a href="../self/sports.html"><span class="text">个人运动详细信息 <span class="badge element-bg-color-blue">New</span></span></a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="js-sub-menu-toggle"><i class="fa fa-line-chart fa-fw"></i><span class="text">组织信息</span>
                                <i class="toggle-icon fa fa-angle-left"></i></a>
                                <ul class="sub-menu ">
                                    <li><a href="../organization/orginfo.html"><span class="text">组织信息</span></a></li>
                                </ul>
                            </li>
                            <li><a href="#" class="js-sub-menu-toggle"><i class="fa fa-th-large fw"></i><span class="text">竞赛信息</span>
                                <i class="toggle-icon fa fa-angle-left"></i></a>
                                <ul class="sub-menu ">
                                    <li><a href="../contest/showContest.html"><span class="text">竞赛信息一览</span></a></li>
                                    <li><a href="../contest/createContest.html"><span class="text">发布竞赛信息</span></a></li>
                                </ul>
                            </li>
                            <!--analysis&strategy-->
                            <li><a href="#" class="js-sub-menu-toggle"><i class="fa fa-file-text-o fw"></i><span class="text">分析 &amp; 建议</span>
                                <i class="toggle-icon fa fa-angle-left"></i></a>
                                <ul class="sub-menu ">
                                    <li><a href="../analyze/dataAnalyze.html"><span class="text">数据分析</span></a></li>
                                    <li><a href="../analyze/recomend.html"><span class="text">运动推荐</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- /main-homePage -->
                    <div class="sidebar-minified js-toggle-minified">
                        <i class="fa fa-angle-left"></i>
                    </div>
                </div>
                <!-- end left sidebar -->


                <!-- /content-wrapper -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- END BOTTOM: LEFT NAV AND RIGHT MAIN CONTENT -->
</div>
<!-- /wrapper -->

<!-- FOOTER -->
<footer class="footer" style="opacity: 0.8; height:40px; width:100%;font-size: 11px; color:#fff;">
    <div class="g-ft" style="text-align: center ;">
                   <span class="m-ft2" >
                             <span style="margin-left:20px;"><i  class="fa fa-envelope" style="margin-right: 1px;margin-top: -5px;"></i> 联系我们：<a href="mailto:141250018@smail.nju.edu.cn" style="color: #fff;">141250018@smail.nju.edu.cn</a></span>
                            <span>&nbsp;|</span>
                        </span>

                        <span class="m-ft1" style="color:#cecece">cxworks版权所有　&copy;2015-2016　
                            <a rel="nofollow" target="_blank" href="http://www.miibeian.gov.cn/" style="position:relative;color: #FFF;">
                                <!--   <img src="http://l.bst.126.net/rsc/img/icon-police.png" style="width:14px;height:16px;position:absolute;left:0;top:0;" />
                                <span style="margin-left:18px;">京ICP备11008151号</span> -->
                            </a>
                        </span>
    </div>
</footer>
<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
var myChart2 = echarts.init(document.getElementById('main2'));
var myChart3 = echarts.init(document.getElementById('main3'));
var data = [
    [[28604,77,17096869,'Australia',1990],[31163,77.4,27662440,'Canada',1990],[1516,68,1154605773,'China',1990],[13670,74.7,10582082,'Cuba',1990],[28599,75,4986705,'Finland',1990],[29476,77.1,56943299,'France',1990],[31476,75.4,78958237,'Germany',1990],[28666,78.1,254830,'Iceland',1990],[1777,57.7,870601776,'India',1990],[29550,79.1,122249285,'Japan',1990],[2076,67.9,20194354,'North Korea',1990],[12087,72,42972254,'South Korea',1990],[24021,75.4,3397534,'New Zealand',1990],[43296,76.8,4240375,'Norway',1990],[10088,70.8,38195258,'Poland',1990],[19349,69.6,147568552,'Russia',1990],[10670,67.3,53994605,'Turkey',1990],[26424,75.7,57110117,'United Kingdom',1990],[37062,75.4,252847810,'United States',1990]],
    [[44056,81.8,23968973,'Australia',2015],[43294,81.7,35939927,'Canada',2015],[13334,76.9,1376048943,'China',2015],[21291,78.5,11389562,'Cuba',2015],[38923,80.8,5503457,'Finland',2015],[37599,81.9,64395345,'France',2015],[44053,81.1,80688545,'Germany',2015],[42182,82.8,329425,'Iceland',2015],[5903,66.8,1311050527,'India',2015],[36162,83.5,126573481,'Japan',2015],[1390,71.4,25155317,'North Korea',2015],[34644,80.7,50293439,'South Korea',2015],[34186,80.6,4528526,'New Zealand',2015],[64304,81.6,5210967,'Norway',2015],[24787,77.3,38611794,'Poland',2015],[23038,73.13,143456918,'Russia',2015],[19360,76.5,78665830,'Turkey',2015],[38225,81.4,64715810,'United Kingdom',2015],[53354,79.1,321773631,'United States',2015]]
];

var option = {
    backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 0.8, [{
        offset: 0,
        color: '#f7f8fa'
    }, {
        offset: 1,
        color: '#cdd0d5'
    }]),
    title: {
        text: '运动气泡'
    },
    legend: {
        right: 10,
        data: ['1990', '2015']
    },
    xAxis: {
        splitLine: {
            lineStyle: {
                type: 'dashed'
            }
        }
    },
    yAxis: {
        splitLine: {
            lineStyle: {
                type: 'dashed'
            }
        },
        scale: true
    },
    series: [{
        name: '1990',
        data: data[0],
        type: 'scatter',
        symbolSize: function (data) {
            return Math.sqrt(data[2]) / 5e2;
        },
        label: {
            emphasis: {
                show: true,
                formatter: function (param) {
                    return param.data[3];
                },
                position: 'top'
            }
        },
        itemStyle: {
            normal: {
                shadowBlur: 10,
                shadowColor: 'rgba(120, 36, 50, 0.5)',
                shadowOffsetY: 5,
                color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                    offset: 0,
                    color: 'rgb(251, 118, 123)'
                }, {
                    offset: 1,
                    color: 'rgb(204, 46, 72)'
                }])
            }
        }
    }, {
        name: '2015',
        data: data[1],
        type: 'scatter',
        symbolSize: function (data) {
            return Math.sqrt(data[2]) / 5e2;
        },
        label: {
            emphasis: {
                show: true,
                formatter: function (param) {
                    return param.data[3];
                },
                position: 'top'
            }
        },
        itemStyle: {
            normal: {
                shadowBlur: 10,
                shadowColor: 'rgba(25, 100, 150, 0.5)',
                shadowOffsetY: 5,
                color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [{
                    offset: 0,
                    color: 'rgb(129, 227, 238)'
                }, {
                    offset: 1,
                    color: 'rgb(25, 183, 207)'
                }])
            }
        }
    }]
};

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);


        var option2 = {
    tooltip : {
        trigger: 'axis',
        axisPointer : {            // 坐标轴指示器，坐标轴触发有效
            type : 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
        }
    },
    legend: {
        data:['直接访问','邮件营销','联盟广告','视频广告','搜索引擎','百度','谷歌','必应','其他']
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    xAxis : [
        {
            type : 'category',
            data : ['周一','周二','周三','周四','周五','周六','周日']
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
        {
            name:'直接访问',
            type:'bar',
            data:[320, 332, 301, 334, 390, 330, 320]
        },
        {
            name:'邮件营销',
            type:'bar',
            stack: '广告',
            data:[120, 132, 101, 134, 90, 230, 210]
        },
        {
            name:'联盟广告',
            type:'bar',
            stack: '广告',
            data:[220, 182, 191, 234, 290, 330, 310]
        },
        {
            name:'视频广告',
            type:'bar',
            stack: '广告',
            data:[150, 232, 201, 154, 190, 330, 410]
        },
        {
            name:'搜索引擎',
            type:'bar',
            data:[862, 1018, 964, 1026, 1679, 1600, 1570],
            markLine : {
                lineStyle: {
                    normal: {
                        type: 'dashed'
                    }
                },
                data : [
                    [{type : 'min'}, {type : 'max'}]
                ]
            }
        },
        {
            name:'百度',
            type:'bar',
            barWidth : 5,
            stack: '搜索引擎',
            data:[620, 732, 701, 734, 1090, 1130, 1120]
        },
        {
            name:'谷歌',
            type:'bar',
            stack: '搜索引擎',
            data:[120, 132, 101, 134, 290, 230, 220]
        },
        {
            name:'必应',
            type:'bar',
            stack: '搜索引擎',
            data:[60, 72, 71, 74, 190, 130, 110]
        },
        {
            name:'其他',
            type:'bar',
            stack: '搜索引擎',
            data:[62, 82, 91, 84, 109, 110, 120]
        }
    ]
};
        myChart2.setOption(option2);
myChart3.setOption(option);
    </script>

</div>
</body>


</html>
